h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
.page{
    width: 1200px;  
    margin: auto;
    padding-top: 5px;
}
.vis-embed{
    width: 100%;
    padding-top: 60px;
}
.description h1, h2{
    margin-top: 20px;
    text-align: left;
    margin-bottom: 20px;
}
.description p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
    padding-right: 80px;
}
.description-title p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.description-left p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
    padding-right: 50px;
}
.description-right p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
    padding-left: 30px;
}
.description-left-middle p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 35px;
    padding-right: 50px;
}
.pure-g{
    margin-bottom: 50px;
}